<div id="app-container">
  <header id="app-header" class="flex-row btm-liner">
    <div class="user-container link sp-cnt" routerLink="">
      <p *ngIf="user?.timeLoggedin" class="title sp-itm">{{user?.username}}</p>
    </div>
    <app-new-article *ngIf="user?.timeLoggedin"></app-new-article>
    <div class="logo-container sp-cnt">
      <img src="../assets/images/logo/logo.png" alt="logo"/>
    </div>
  </header>
  <main id="app-content" class="">
    <router-outlet></router-outlet>
  </main>
  <footer id="app-footer"></footer>
</div>