#app-header {

    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    height: 10em;

    .user-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 100%;
        margin-left: 2.68%;
    }

    .logo-container {
        height: 100%;
        margin-right: 2.68%;
    
        img {
            height: 80%;
        }
    }
}