<div id="app-container" (scroll)="onScroll()">
  <header id="app-header" class="flex-row">
    <div class="menu-container flex-center">
      <div class="menu-lv1 articles">
        <p class="link" routerLink="/articles">Articles</p>
        <div class="menu-lv2">
          <p class="label sp-itm" [routerLink]="['/articles']" [queryParams]="{category: 'Technology'}">Technology</p>
          <p class="label sp-itm" [routerLink]="['/articles']" [queryParams]="{category: 'Life'}">Life</p>
          <p class="label sp-itm" [routerLink]="['/articles']" [queryParams]="{category: 'Uncategorized'}">Other</p>
        </div>
      </div>
      <div class="menu-lv1 projects">
        <p class="link" routerLink="/projects">Projects</p>
        <div class="menu-lv2">
          <p class="label sp-itm" [routerLink]="['/projects']" [queryParams]="{category: 'Technology'}">Technology</p>
          <p class="label sp-itm" [routerLink]="['/projects']" [queryParams]="{category: 'Life'}">Life</p>
          <p class="label sp-itm" [routerLink]="['/projects']" [queryParams]="{category: 'Uncategorized'}">Other</p>
        </div>
      </div>
    </div>
    <div class="logo-container flex-row flex-center" routerLink="">
      <p class="title link">rukbat</p>
      <img src="../assets/images/logo/logo.png" alt="logo"/>
    </div>  
  </header>
  <main id="app-content">
    <router-outlet></router-outlet>
    <app-error-notification></app-error-notification>
  </main>
  <footer id="app-footer">
    <div class="flex-row flex-center">
      <div class="footer-links flex-column flex-center sp-cnt">
        <p class="label sp-itm list-head">Documents</p>
        <p class="label sp-itm link" [routerLink]="['/about']" fragment="about">About</p>
        <p class="label sp-itm link" [routerLink]="['/about']" fragment="planning">Planning</p>
        <p class="label sp-itm link" [routerLink]="['/about']" fragment="collaborate">Collaborate</p>
      </div>
      <div class="footer-icons flex-column flex-center sp-cnt">
        <p class="label sp-itm list-head">Connect</p>
        <p class="label sp-itm link">GitHub</p>
        <p class="label sp-itm link">LinkedIn</p>
        <p class="label sp-itm link">YouTube</p>
      </div>  
    </div>
    <div class="sp-itm">
      <p>© 2021 | Hysk Lhwr . All rights reserved.</p>
    </div>
  </footer>
  <div class="scroll-to-top" id="scrollToTopBtn" #scrollToTopBtn (click)="toTop()">
    <svg xmlns="http://www.w3.org/2000/svg" height="5vw" viewBox="0 0 24 24" fill="white">
      <path d='M12 7.27l4.28 10.43-3.47-1.53-.81-.36-.81.36-3.47 1.53L12 7.27M12 2L4.5 20.29l.71.71L12 18l6.79 3 .71-.71L12 2z'></path>
    </svg>
  </div>
</div>