<div class="nav-container sp-cnt">
    <div *ngFor="let nav of navList?.navItems">
        <div *ngIf="nav.requireLogin? (!!user?.timeLoggedin): true" class="nav-item link sp-itm" routerLink="{{nav.navUrl}}" routerLinkActive="active">
            <div class="nav-text">
                <p class="label">{{nav.name}}</p>
            </div>
            <div class="nav-icon"></div>
        </div>    
    </div>
    <div *ngIf="user?.timeLoggedin" class="nav-item link sp-itm" routerLink="/" routerLinkActive="active" (click)="logout()">
        <div class="nav-text">
            <p class="label">logout</p>
        </div>
        <div class="nav-icon"></div>
    </div>
</div>