<div class="nav-container sp-cnt">
    <div *ngFor="let nav of navList?.navItems">
        <div *ngIf="nav.requireLogin? (!!user?.timeLoggedin): true" class="nav-item link sp-itm" routerLink="{{nav.navUrl}}" 
        routerLinkActive="active" on-mouseenter="hoverIcon(nav.iconName)" on-mouseleave="hoverEnds(nav.iconName)">
            <p class="label nav-item-text">{{nav.name}}</p>
            <div *ngIf="nav.iconName">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="16px" height="16px" [attr.fill]="iconColor[nav.iconName]">
                    <path [attr.d]="iconPath[nav.name]"></path>
                </svg>    
            </div>
        </div>    
    </div>
    <div *ngIf="user?.timeLoggedin" class="nav-item link sp-itm" routerLink="/" routerLinkActive="active" 
    (click)="logout()" on-mouseenter="hoverIcon('logout')" on-mouseleave="hoverEnds('logout')">
        <p class="label nav-item-text">logout</p>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="16px" height="16px" [attr.fill]="iconColor['logout']">
            <path [attr.d]="iconPath.logout"></path>
        </svg>
    </div>
</div>