@import '../../assets/_vars.scss';

.preview-card {

    .content {
        cursor: auto;
    }

    .keyword:hover {
        color: $light-blue
    }

    &:hover {
        background-color: rgba($crispy-grey, 0.6);
    }

    .read-more {
        display: flex;
        justify-content: flex-end;
        margin-top: $spacing-cnt;
    }
}