<div class="editor-container sp-cpt">
    <div class="article-editor">
        <div class="editable -title sp-itm btm-liner-light">
            <input type="text" id="title" [(ngModel)]="title" value="title" placeholder="Add Title">
            <label for="title">Title: </label>
        </div>
        <div class="editable -categories sp-itm btm-liner-light">
            <input type="text" id="categories" [(ngModel)]="categories" value="categories" placeholder="Set categories, separated by ','">
            <label for="categories">Categories: </label>
        </div>
        <div class="editable -labels sp-itm btm-liner-light">
            <input type="text" id="labels" [(ngModel)]="labels" value="labels" placeholder="Set labels, separated by ','">
            <label for="labels">Labels: </label>
        </div>
        <div class="editable -preview sp-itm btm-liner-light">
            <textarea type="text" id="preview" [(ngModel)]="preview" value="preview" placeholder="Add custom preview. If empty, the default will be the first 300 characters."></textarea>
            <label for="preview">Preview: </label>
        </div>
        <div class="tool-bar sp-cnt-sub btm-liner-light flex-row flex-center">
            <div *ngIf="!previewMode" class="link flex-row flex-center" (click)="togglePreview()">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" [attr.fill]="iconColor?.disabled">
                    <path [attr.d]="iconPath?.toggleOff"></path>
                </svg>    
                <p class="label"> See Preivew</p>
            </div>
            <div *ngIf="!!previewMode" class="link flex-row flex-center" (click)="togglePreview()">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" [attr.fill]="iconColor?.enabled">
                    <path [attr.d]="iconPath?.toggleOn"></path>
                </svg>    
                <p class="label"> Back To Edit</p>
            </div>    
        </div>
        <div [ngClass]="{'show-preview': !!previewMode, 'show-editor': !previewMode}">
            <div class="editable -markdown-editor sp-itm btm-liner-light">
                <textarea #contentRef type="text" id="contentMarkdown" [(ngModel)]="contentMarkdown" value="contentMarkdown" placeholder="Edit content."></textarea>
                <label for="contentMarkdown">Content: </label>
            </div>
            <div class="article-viewer sp-itm" [innerHtml]="renderedString"></div>    
        </div>
    </div>
    <div class="editor-footer flex-row sp-cnt-sub">
        <div class="button delete-draft sp-itm link"><p class="label">Delete Draft</p></div>
        <div class="button save-and-leave sp-itm link"><p class="label">Save & Leave</p></div>
        <div class="button publish sp-itm link" (click)=publishArticle()><p class="label">Publish</p></div>
    </div>
</div>
