@import "../../assets/vars";

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;

    .login-form {
        width: max-content;
        border: 1px, solid, $border-color-light;
        box-shadow: $box-showdow-regular;

        &:hover {
            box-shadow: $box-showdow-hover;
        }
}

    input {

        color: $color-text-regular;
        font-family: 'Roboto', sans-serif;
        font-size: $font-size-regular;
        font-weight: $font-weight-light;
        line-height: $line-height-regular;
    
        border: 1px, solid, $border-color-light;
        border-radius: 2px;

        padding: $spacing-itm--sub $spacing-itm;

        &:focus {
            outline: none !important;
            border: 1px, solid, $border-color-selected;
            border-radius: 2px;
            box-shadow: 0 0 6px $border-color-selected;
        }
    }

    .login-footer {
    
        justify-content: space-between;

        .button {

            color: $color-text-light;
            font-family: 'Roboto', sans-serif;
            font-size: $font-size-sm;
            font-weight: $font-weight-heavy;
            line-height: $line-height-regular;

            border-bottom: 2px;
            border-bottom-style: solid;
            border-bottom-color: $solid-white;

            &:hover {
                border-bottom-color: $border-color-light;
            }
        }    
    }

}