@import "../../assets/custom-styles/article-viewer.scss";


.full-content-container {
    max-width: 96vw;
    
    .title-row {
        z-index: 0;
        position: sticky;
        top: 0;
        padding-top: 2rem;
        background: rgba($color: #fff, $alpha: 0.9);

        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }

    textarea, label {
        font-family: 'Roboto', sans-serif;
        font-size: $font-size-regular;
        font-weight: $font-weight-light;
        letter-spacing: $spacing-letter;
        line-height: $line-height-regular;
        color: $color-text-regular;
    
        width: -webkit-fill-available;
        border: none;

        &:focus {
            outline: none;
        }
    }

    textarea {
        height: 100px;
        padding: 0.23rem 0.68rem;
        border: 1px solid rgb(208, 207, 207);
        margin-top: 0px;
        
        resize: vertical;
    }

    label {
        visibility: visible;
        display: flex;
        justify-content: flex-end;
    }

    textarea:placeholder-shown + label {
        visibility: hidden;
    }

    .feedback-bar, .comment-container {
        margin: 3rem 0;
    }
}
