@import "../../assets/custom-styles/article-viewer.scss";


.full-content-container {
    max-width: 96vw;
    
    .title-row {
        justify-content: space-between;
        align-items: center;
    }

}
