<div *ngIf="!!fullContent" class="full-content-container btm-liner-light">
    <div class="title-row flex-row sp-itm">
        <p class="title">{{fullContent?.title}}</p>
        <div class="icon-container flex-row">
            <div *ngIf="!!user?.timeLoggedin" class="edit-icon link" (click)="editArticle()" on-mouseenter="hoverIcon('edit', 'highlight')" on-mouseleave="hoverEnds('edit', 'regular')">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" [attr.fill]="iconColor?.edit">
                    <path [attr.d]="iconPath?.edit"></path>
                </svg>
            </div>    
            <div *ngIf="!!user?.timeLoggedin" class="delete-icon link" (click)="deleteArticle()" on-mouseenter="hoverIcon('delete', 'delete')" on-mouseleave="hoverEnds('delete', 'regular')">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" [attr.fill]="iconColor?.delete">
                    <path [attr.d]="iconPath?.delete"></path>
                </svg>
            </div>    
        </div>
    </div>
    <div class="sp-itm flex-row">
        <p class="date sp-itm-sub">{{fullContent?.createdDate.substring(0,10)}}</p>
        <svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 0 24 24" [attr.fill]="iconColor?.eye">
            <path [attr.d]="iconPath?.eye"></path>
        </svg>
        <p class="date sp-itm-sub">{{fullContent?.views}}</p>
        <svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 0 24 24" [attr.fill]="iconColor?.heart">
            <path [attr.d]="iconPath?.heart"></path>
        </svg>
        <p class="date sp-itm-sub">{{fullContent?.likes}}</p>
    </div>
    <div #mkdField class="article-viewer sp-itm" [innerHtml]="renderedString"></div>
    <div class="fullcontent-footer flex-row flex-center sp-itm">
        <div class="thumbs-up-icon sp-itm" on-mouseenter="hoverIcon('thumbup', 'enabled')" on-mouseleave="hoverEnds('thumbup', 'regular')" (click)="setFeedback(true)">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="30px" [attr.fill]="iconColor?.thumbup">
                <path [attr.d]="iconPath?.thumbup"></path>
            </svg>
        </div>
        <div class="thumbs-down-icon sp-itm" on-mouseenter="hoverIcon('thumbdown', 'delete')" on-mouseleave="hoverEnds('thumbdown', 'regular')" (click)="setFeedback(false)">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="30px" [attr.fill]="iconColor?.thumbdown">
                <path [attr.d]="iconPath?.thumbdown"></path>
            </svg>
        </div>
    </div>
</div>