.full-content-container {
    max-width: 96vw;
    
    .title-row {
        z-index: 0;
        position: sticky;
        top: 0;
        padding-top: 2rem;
        background: rgba($color: #fff, $alpha: 0.9);

        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }

    .feedback-bar, .comment-container {
        margin: 3rem 0;
    }
}
