@import "../_vars.scss";

div.article-viewer {

    font-family: 'Roboto', sans-serif;
    font-size: $font-size-regular;
    font-weight: $font-weight-light;
    letter-spacing: $spacing-letter;
    line-height: $line-height-regular;
    color: $color-text-regular;

    white-space: pre-wrap;
    word-break: break-all;

    p.h-lv1 {
        margin: $spacing-cnt--sub 0;
        color: $color-text-strong;
        font-size: $font-size-md;
        line-height: $font-size-md;
        font-weight: $font-weight-heavy;
        text-transform: capitalize;
    }

    p.h-lv2 {
        margin: $spacing-cnt--sub 0;
        color: $color-text-strong;
        font-size: $font-size-regular;
        line-height: $font-size-regular;
        font-weight: $font-weight-regular;
        text-transform: capitalize;
    }

    p.h-lv3 {
        margin: $spacing-cnt--sub 0;
        color: $color-text-strong;
        font-size: $font-size-regular;
        line-height: $font-size-regular;
        font-weight: $font-weight-light;
        text-transform: capitalize;
    }

    p.code-block {
        margin: $spacing-itm 0;
        padding: $spacing-cnt;
        
        white-space: pre;
        overflow-x: auto;
        letter-spacing: 0;
        
        background-color: $color-background-highlight;
    }

    p.text-body {
        padding: $spacing-cnt 0;
        white-space: initial;
        word-break: break-word;
    }

    span {
        margin: 0;
        padding: 0 $spacing-itm--sub;
    }

    span.code-snipet {
        letter-spacing: 0;
        background-color: $color-background-highlight;
    }

    span.bold {
        color: $color-text-subtle;
        font-weight: $font-weight-regular;
    }

    span.italic {
        font-style: italic;
    }
}